* {
margin : 0;
padding : 0;
box-sizing : border-box;
color: white;
}
html,body{
height : 100%;
width : 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 70px 30% 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "footer footer"
    ;
}
header{
    background-color: darkolivegreen;
    grid-area: header
}
aside{
    background-color: darkmagenta;
    grid-area: aside;
}
section{
    background-color: darkcyan;
    grid-area: section;
}
footer{
    background-color: darkorchid;
    grid-area: footer;
}