* {
margin : 0;
padding : 0;
box-sizing : border-box;
color: white;
}
html,body{
height : 100%;
width : 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 2fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: "header header header"
                         "section section section"
                         "div-left bottom-up div-right"
                         "div-left bottom-down div-right"
    ;
}
header{
    background-color: darkcyan;
    grid-area: header;
}
section{
    background-color: dodgerblue;
    grid-area: section;
}
#div-left{
    background-color: darkolivegreen;
    grid-area: div-left;
}
#bottom-up{
    background-color: darkorchid;
    grid-area: bottom-up;
}
#bottom-down{
    background-color: darkorange;
    grid-area: bottom-down;

}
#div-right{
    background-color: darkgrey;
    grid-area: div-right;

}