* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
html,body{
height : 100%;
width : 100%;
color: white;
}
main{
    height: 100%;
    width:100%;
    background-color: black;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: none;
}

#cursor{
    height:8vh;
    position:fixed;
    left:0%;
    top:0%;
    z-index:10
}

#slug{
    height:3vh;
    rotate:-75deg;
    z-index:9;
    position:fixed;
    
}