* {
margin : 0;
padding : 0;
box-sizing : border-box;
}
html,body{
height : 100%;
width : 100%;
color: white;
}
main{
    height: 100%;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer{
    width:25vw;
    padding:20px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    position:relative;
}

#outer #box{
    position:relative;
    overflow: hidden;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h2{
    color: black;
    font-family:sans-serif;
    text-align: center;
    margin-top: 10px;
}
#love{
    position:absolute;
    opacity: 0.2;
    font-size: 75px;
    
    background-image: url(https://imgs.search.brave.com/hoVMSUPMXqRmgy5g37AkbYq0O8HB_mdBFMjMyVBmIYQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/aW5zdGFncmFtLWJh/Y2tncm91bmQtZ3Jh/ZGllbnQtY29sb3Jz/XzIzLTIxNDc4MzUx/MjcuanBnP3NlbXQ9/YWlzX2luY29taW5n/Jnc9NzQwJnE9ODA);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg) ;
    transition: all cubic-bezier(.3,.35,.5,1.55) 0.4s;
}