.button{
    border:none;
    outline:none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

    &.primary-button {
        background-color: rgb(136, 33, 221);
        color: whitesmoke;
      }

    &:active{
        transform: scale(0.9);
    }
}