.nav-bar {
  top:0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  background-color: rgb(41, 40, 40);
  position: fixed;
  z-index: 1100;

  h1 {
    font-size: 1.2rem;
    font-weight: small;
    cursor: pointer;
  }

  .nav-buttons {
    display: flex;
    gap: 1rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    svg {
      width: 1rem;
      aspect-ratio: 1/1;
      fill: white;
    }
  }
}
